In [1]:
%pip install pandas sqlite3 tabulate

Looking in indexes: https://pypi.org/simple, https://nexus.quintoandar.com.br/repository/pip-5a/, https://quintoandar.github.io/python-package-server/
Requirement already satisfied: pandas in /Users/gabriel.dantas/pyenv/versions/3.9.12/lib/python3.9/site-packages (2.2.2)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/Users/gabriel.dantas/pyenv/versions/3.9.12/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
years = [str(year) for year in range(1970, 2023)]
columns = [*["id", "control", "produto"], *years]

df = pd.read_csv("../datasource/csv/Comercio.csv", sep=";", encoding="utf-8", names=columns)
df.head()

,id,control,produto,1970,1971,1972,1973,1974,1975,1976,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,VINHO DE MESA,VINHO DE MESA,98327606,114399031,118377367,116617910,94173324,108031792,139238614,...,221590810,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238,187939996
1,2,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,...,188033494,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678,165067340
2,3,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,...,1777648,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606,2213723
3,4,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,...,31779668,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954,20658933
4,5,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,...,27912934,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445,21533487

In [7]:
df_melted = df.melt(id_vars=['id', 'control', 'produto'], var_name='ano', value_name='valor')

print(df_melted)

      id               control                       produto   ano     valor
0      1         VINHO DE MESA                 VINHO DE MESA  1970  98327606
1      2              vm_Tinto                         Tinto  1970  83300735
2      3             vm_Rosado                        Rosado  1970    107681
3      4             vm_Branco                        Branco  1970  14919190
4      5   VINHO  FINO DE MESA           VINHO  FINO DE MESA  1970   4430629
...   ..                   ...                           ...   ...       ...
3228  57         ou_Vinho_base    Vinho base para espumantes  2022         0
3229  58     ou_Vinho_composto                Vinho composto  2022     32000
3230  59     ou_Vinho_licoroso                Vinho licoroso  2022    385006
3231  60         ou_Vinho_leve                    Vinho leve  2022        27
3232  61  ou_Vinho_gaseificado             Vinho gaseificado  2022     14947

[3233 rows x 5 columns]

In [8]:
import uuid

df_to_transform = df_melted.copy()

categoria_atual = None
for idx, row in df_to_transform.iterrows():
    if row['control'].isupper():
        categoria_atual = row['produto']
    else:
        df_to_transform.loc[idx, 'categoria'] = categoria_atual

df_final = df_to_transform[df_to_transform['categoria'].notnull()]
df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]

df_final.to_csv("Comercio_transformed.csv", index=False)

df_final.head()

/var/folders/t2/n8s666yx17sb51gd12d2d3mc0000gp/T/ipykernel_46708/2931577348.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]

,id,control,produto,ano,valor,categoria,product_id
1,2,vm_Tinto,Tinto,1970,83300735,VINHO DE MESA,68bcdae9-1bfe-458a-9518-13dcde274547
2,3,vm_Rosado,Rosado,1970,107681,VINHO DE MESA,fedb9b18-3075-4bf1-bb6c-980a8beb5bad
3,4,vm_Branco,Branco,1970,14919190,VINHO DE MESA,bc1da454-a265-4aea-826c-9fa86811cbdf
5,6,vm_Tinto,Tinto,1970,435354,VINHO FINO DE MESA,52c69eac-acef-4cea-85b7-f662add4df68
6,7,vm_Rosado,Rosado,1970,183234,VINHO FINO DE MESA,fa4d61b7-3818-487a-8cdd-732280a29440

In [25]:
path = "../datasource/csv/Comercio.csv"
years = [str(year) for year in range(1970, 2023)]
columns = [*["id", "control", "produto"], *years]

df = pd.read_csv(path, sep=";", encoding="utf-8", names=columns)
df_melted = df.melt(id_vars=['id', 'control', 'produto'], var_name='ano', value_name='valor')
df_to_transform = df_melted.copy()

categoria_atual = None
for idx, row in df_to_transform.iterrows():
    if row['control'].isupper():
        categoria_atual = row['control']
    else:
        df_to_transform.loc[idx, 'categoria'] = categoria_atual

df_final = df_to_transform[df_to_transform['categoria'].notnull()]
df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]

print(df_final)

df_final.to_csv("Comercio_transformed_v3.csv", index=False)

      id               control                       produto   ano     valor  \
1      2              vm_Tinto                         Tinto  1970  83300735
2      3             vm_Rosado                        Rosado  1970    107681
3      4             vm_Branco                        Branco  1970  14919190
5      6              vm_Tinto                         Tinto  1970    435354
6      7             vm_Rosado                        Rosado  1970    183234
...   ..                   ...                           ...   ...       ...
3228  57         ou_Vinho_base    Vinho base para espumantes  2022         0
3229  58     ou_Vinho_composto                Vinho composto  2022     32000
3230  59     ou_Vinho_licoroso                Vinho licoroso  2022    385006
3231  60         ou_Vinho_leve                    Vinho leve  2022        27
3232  61  ou_Vinho_gaseificado             Vinho gaseificado  2022     14947

                            categoria                            product_id
1                       VINHO DE MESA  9b2f71ba-b905-49ec-8b4a-e4dfb3ff0476
2                       VINHO DE MESA  14b96a8e-f0ef-4e50-a1a0-c990562bdd55
3                       VINHO DE MESA  21ffe41d-1bfe-48d4-9d30-291c7aaba2e8
5                 VINHO  FINO DE MESA  a4ff5f43-2ffb-4b23-b6f5-eb85c75c1a2c
6                 VINHO  FINO DE MESA  1f08bef4-115e-4f88-891f-eda7dc089b48
...                               ...                                   ...
3228  OUTROS PRODUTOS COMERCIALIZADOS  f738c051-3e18-4cf3-9f47-b2887befd012
3229  OUTROS PRODUTOS COMERCIALIZADOS  fc752a47-d747-4807-964b-8cf9e5c9eef3
3230  OUTROS PRODUTOS COMERCIALIZADOS  2ba4e365-b97d-431d-9500-3a92ccf334e1
3231  OUTROS PRODUTOS COMERCIALIZADOS  3e4c88a9-cf5e-4150-82ed-c71cccd456b0
3232  OUTROS PRODUTOS COMERCIALIZADOS  84fd8186-9697-4dad-b1dd-303bf233fa16

[2756 rows x 7 columns]

/var/folders/t2/n8s666yx17sb51gd12d2d3mc0000gp/T/ipykernel_46708/3606843997.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]