In [1]:
%pip install pandas sqlite3 tabulate

Looking in indexes: https://pypi.org/simple, https://nexus.quintoandar.com.br/repository/pip-5a/, https://quintoandar.github.io/python-package-server/
Requirement already satisfied: pandas in /Users/gabriel.dantas/pyenv/versions/3.9.12/lib/python3.9/site-packages (2.2.2)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/Users/gabriel.dantas/pyenv/versions/3.9.12/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
years = [str(year) for year in range(1970, 2023)]
columns = [*["id", "control", "produto"], *years]

df = pd.read_csv("datasource/csv/ExpVinho.csv", delimiter="/t")
df.head()

/var/folders/t2/n8s666yx17sb51gd12d2d3mc0000gp/T/ipykernel_58588/2874378533.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("datasource/csv/ExpVinho.csv", delimiter="/t")

  Id;País;1970;1970;1971;1971;1972;1972;1973;1973;1974;1974;1975;1975;1976;1976;1977;1977;1978;1978;1979;1979;1980;1980;1981;1981;1982;1982;1983;1983;1984;1984;1985;1985;1986;1986;1987;1987;1988;1988;1989;1989;1990;1990;1991;1991;1992;1992;1993;1993;1994;1994;1995;1995;1996;1996;1997;1997;1998;1998;1999;1999;2000;2000;2001;2001;2002;2002;2003;2003;2004;2004;2005;2005;2006;2006;2007;2007;2008;2008;2009;2009;2010;2010;2011;2011;2012;2012;2013;2013;2014;2014;2015;2015;2016;2016;2017;2017;2018;2018;2019;2019;2020;2020;2021;2021;2022;2022
0  1;Afeganistão;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;...
1  2;África do Sul;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;...
2  3;Alemanha, República Democrática;0;0;0;0;4168...
3  4;Angola;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;3...
4  5;Anguilla;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0...

In [7]:
df_melted = df.melt(id_vars=['id', 'control', 'produto'], var_name='ano', value_name='valor')

print(df_melted)

      id               control                       produto   ano     valor
0      1         VINHO DE MESA                 VINHO DE MESA  1970  98327606
1      2              vm_Tinto                         Tinto  1970  83300735
2      3             vm_Rosado                        Rosado  1970    107681
3      4             vm_Branco                        Branco  1970  14919190
4      5   VINHO  FINO DE MESA           VINHO  FINO DE MESA  1970   4430629
...   ..                   ...                           ...   ...       ...
3228  57         ou_Vinho_base    Vinho base para espumantes  2022         0
3229  58     ou_Vinho_composto                Vinho composto  2022     32000
3230  59     ou_Vinho_licoroso                Vinho licoroso  2022    385006
3231  60         ou_Vinho_leve                    Vinho leve  2022        27
3232  61  ou_Vinho_gaseificado             Vinho gaseificado  2022     14947

[3233 rows x 5 columns]

In [8]:
import uuid

df_to_transform = df_melted.copy()

categoria_atual = None
for idx, row in df_to_transform.iterrows():
    if row['control'].isupper():
        categoria_atual = row['produto']
    else:
        df_to_transform.loc[idx, 'categoria'] = categoria_atual

df_final = df_to_transform[df_to_transform['categoria'].notnull()]
df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]

df_final.to_csv("datasource/csv/Comercio_transformed.csv", index=False)

df_final.head()

/var/folders/t2/n8s666yx17sb51gd12d2d3mc0000gp/T/ipykernel_47391/4137289874.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['product_id'] = [uuid.uuid4() for _ in range(len(df_final))]

,id,control,produto,ano,valor,categoria,product_id
1,2,vm_Tinto,Tinto,1970,83300735,VINHO DE MESA,f4805707-b3e2-4be3-aab0-cdb7e6ba4c6d
2,3,vm_Rosado,Rosado,1970,107681,VINHO DE MESA,263e39ff-d3b2-4725-94c0-a7b962658aaf
3,4,vm_Branco,Branco,1970,14919190,VINHO DE MESA,29ae2986-7584-4595-b61c-3feb7d7fc86f
5,6,vm_Tinto,Tinto,1970,435354,VINHO FINO DE MESA,755dc3be-90fa-48f0-88aa-4cd3e655d759
6,7,vm_Rosado,Rosado,1970,183234,VINHO FINO DE MESA,d677681f-823f-41ab-a460-8b285e7b1c70